---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


// Size Rules

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  background: $white;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: $black;
  line-height: 1.5;
}

footer {

}

.container {
  margin: 0 auto;
  width: 75%;
  max-width: 1440px;
  padding: 0px 0px;
}

.container-content {
  margin: 0 auto;
  width:75%;
  max-width: 1080px;
  padding: 0px 0px;
  @include mobile {
    display: block;
    width:99%;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
  height:0.5em;
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.paperbox {
	padding: 5px;
	border-style: solid;
	border-radius: 0px;
	border-width: 1px;
	transition: box-shadow 0.3s ease;
  display: flexbox;
  border-radius: 10px;

  &:hover{
		border-color: #ACCE21;
		box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	}
}

.projectbox {
	padding: 5px;
	border-style: solid;
	border-radius: 0px;
	border-width: 1px;
	transition: box-shadow 0.3s ease;
  display: flexbox;
  border-radius: 10px;

  &:hover{
		border-color: #ACCE21;
		box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
	}
}

.card {

}

.card-feed {
  border-radius: 0;
  border-color:rgba(0, 0, 0, 0);
  min-height: 150px;
  margin-bottom: 10px;
  width: calc(33.3% - 10px);
  padding: 10px; 
}

.card-feed-me {
  border: solid darkgray 1px;
  width: calc(50% - 10px);

  &:hover {
    box-shadow: 0 0 0;
  }
}

.card-feed-aboutme {
  border: solid darkgray 1px;
  padding: 5px;

  &:hover {
    box-shadow: 0 0 0;
  }
}

.card-feed-post {
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease 0.2s;
  &:hover {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.card-feed-pub {
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease 0.2s;
  &:hover {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.card-feed-recipe {
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease 0.2s;
  &:hover {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.card-feed-project {
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease 0.2s;
  &:hover {
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.card-section {
  border: none;
  color: #DFDFDF;
}

.card-feed-sizer {
  width: calc(33.3% - 10px);
}

.card-feed-gutter-sizer {
  width: 10px;
}

.card-title{
	font-size:12px;
	margin: 0px;
}

.card-text{
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card-footer {
	background-color: #FFFFFF;
	border-style: none;
	margin: 0px;
	padding: 5px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, .80); 
  transition: background-color 0.3s ease;
  border-radius: 10%;

  &:hover {
    background-color: rgba(255, 255, 255, 0); 

  }
}

@media only screen and (max-width:720px) {
  .card-feed {
    width: calc(50% - 10px);
  }

  .card-feed-me {
    width: calc(100% - 10px);
  }

  .card-feed-sizer {
    width: calc(50% - 10px);
  }
}

@media only screen and (min-width:720px) {
  .card-feed {
    width: calc(33.3% - 10px);
  }

  .card-feed-me {
    width: calc(66.7% - 10px);
  }

  .card-feed-sizer {
    width: calc(33.3% - 10px);
  }
}

@media only screen and (min-width:1080px) {
  .card-feed {
    width: calc(25% - 10px);
  }

  .card-feed-me {
    width: calc(50% - 10px);
  }

  .card-feed-sizer {
    width: calc(25% - 10px);
  }
}

@media only screen and (min-width:1440px) {
  .card-feed {
    width: calc(20% - 10px);
  }

  .card-feed-me {
    width: calc(40% - 10px);
  }

  .card-feed-sizer {
    width: calc(20% - 10px);
  }
}

/***************/
/* IMAGE RULES */
/***************/

img.paper {
border-style: solid;
border-color: #D1D1D1;
border-width: 1px;
transition: 0.5s ease;
}

img.paper:hover{
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
-webkit-transform: scale(1.025);
-ms-transform: scale(1.025);
transform: scale(1.025);
}

/**************/
/* TEXT RULES */
/**************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $black;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 26px;
  a {
    text-decoration: none;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  margin: 15px 0;
  color: $black;
  text-align: justify;
  text-justify: inter-word;
	a {
	  color: #000000;
	  display: inline-block;
	  text-decoration: underline;
	  text-decoration-style: solid;
	  text-decoration-thickness: 1px;
	  transition: all ease 0.25s;
    color: #ACCE21;
	  cursor: pointer;
	   &:hover {
		   text-decoration: none;
		   color: #ACCE21;
		}
	}
}

code {
  font-size: 12px; 
  font-family: 'Andale Mono', 'Lucida Console', monospace;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

small {
  font-size: 10px;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $black;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: #c0e1fc;
}
::selection {
  color: $black;
  background: #c0e1fc;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
	width: 100%;
  top: -185px;
  vertical-align: bottom;
  border-bottom: solid 1px #DFDFDF;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background: #FFFFFF;
  margin-bottom: 50px;
  text-align: center;
  z-index: 99;
  @include mobile {
    text-align: center;
  }
}

.masthead {
  padding: 10px 0px;
  top: -185px;
  vertical-align: bottom;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background: #FFFFFF;
  text-align: center;
  z-index: 99;

  @include mobile {
    text-align: center;
  }
}

.section-box {
  position: relative;
  margin-bottom:10%;
  min-height: 200px;
  @include mobile {
    display: block;
  }
}

.section-box-title {
  display: block;
  padding: 10px 0px;
  overflow-x: hidden;
  margin: 0px;
  text-align:left;

  //writing-mode:vertical-rl;
  //text-orientation: upright;
    h1 {
      font-weight: 100;
      margin: 0px;
    }

    @include mobile {
      display: block;
      float: none;
      margin: 0 auto;
    }
}

.section-box-content {
  display: flexbox;
  //padding: 10px;
  min-height: 200px;
  margin: 0 auto;

  @include mobile {
    display: block;
    float: none;
    margin: 0 auto;
    border: none;
  }
}

.site-avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 10%;
  border-style: solid;
  border-color: black;

  @include mobile {
    display: block;
    float: none;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
img:hover {
   transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
}

.site-info {
  //float: left;
  vertical-align: bottom;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0px;
  padding: 0px;
  padding: 0px;
  color: $black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 8px;
  vertical-align: middle;
}

.site-description {
  margin: -5px 0 0 0;
  color: $black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  @include mobile {
    margin: 3px 0;
  }
}

.nav {
  margin: 0px;
  padding: 0px;
  //float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: middle;
  line-height: 1.5;
  float: none;
  display: block;



  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
	margin-right: 20px;
	text-align: right;
	letter-spacing: 1px;
	transition: all ease 0.25s;
  vertical-align: middle;
	&:hover {
		   color: #ACCE21;
		}
	  
    @include mobile {
      margin: 0 10px;
      color: #000000;
    }
  }

  h1 {
    line-height: 1;
  }
}

//
 .main {
   //margin-left: 160px;

}
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 2.5em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 18px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 16px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
