<div class="site-section-wrapper">
    <div class="site-section">
        <div class="site-section-header">
            <h1>Hi! I'm Andrew.</h1>
        </div>
        <div class="site-body site-about bigger-text">
            {% include AboutMe.html %}

        </div>

        <div class="site-footer">
            <div class="site-footer-content">
                <a href="{{site.url}}/pages/CV/">CV</a>
                <strong> · </strong>
                <a href="mailto:arlynch1001@gmail.com">Email</a>
                <strong> · </strong>
                <a href="https://orcid.org/0000-0002-0238-682X">Orcid</a>
                <strong> · </strong>
                <a href="https://github.com/andrewrlynch">GitHub</a>
                <strong> · </strong>
                <a href="https://www.linkedin.com/in/andrewrlynch">LinkedIn</a>
            </div>
        </div>

    </div>
</div>