<div class="site-section-wrapper">
    <div class="site-section">
        <div class="site-section-header">
            <h1>Hi! I'm Andrew.</h1>
        </div>
        <div class="site-body site-about bigger-text">
            {% include AboutMe.html %}
        </div>
        <!--
        <div class="site-footer">
            <div class="site-footer-content">
                <strong>Docs — </strong>
                <a href="">CV</a>
                <strong> — </strong>
                <a href="">Orcid</a>
                <br>
                <strong>Contact — </strong>
                <a href="">Email</a>
                <strong> — </strong>
                <a href="">Twitter</a>
                <strong> — </strong>
                <a href="">LinkedIn</a>
                <br>
                <strong>Writing — </strong>
                <a href="">Blog</a>
                <strong> — </strong>
                <a href="">Substack</a>
                <strong> — </strong>
                <a href="">Medium</a>
            </div>
        </div>
        -->
    </div>
</div>