<div class="section-box">
    <div class="section-box-content">
        <p>I do cancer genomics and am interested in clinical translation of research in tumor evolution and plasticity.</p>
        <p>I’m currently a CPRIT TRIUMPH fellow in the Cancer Genomics and Evolution Laboratory at the University of Texas MD Anderson Cancer Center. In 2023 I earned a Ph.D. in Cellular and Molecular Pathology at the University of Wisconsin - Madison. There, I employed single cell genomics, stochastic modeling, and cell biology to improve measures of chromosomal instability and study its frequency in the evolution of tumors. In 2016 I earned a B.Sc. in Biochemistry and Molecular Biology at the University of Wisconsin - Eau Claire. There I studied the antigenic potential of MUC1 mimotopes using solid phase peptide synthesis and NMR.</p>
        <p>I can also be found reading or cooking.</p>
    </div>
</div>