<div class="grid post-collection" data-masonry='{"itemSelector": ".card-feed", "columnWidth": 240, "percentWidth": true, "horizontalOrder": true}'>

  <div class="card-feed-sizer"></div>
  <div class="card-feed-gutter-sizer"></div>
  
  {% assign posts = site.feed | sort: "postdate" reverse%}
  
  {% for post in posts reversed %} 
        <div class="grid-item card card-feed pub" style="padding: 0px;">
          <a href="{{ post.paperurl }}"><h5 class="card-title stretched-link" style="font-size: 12px; margin: 5px;">{{post.title}}</h5></a>
          {% if post.type == "pub" %} 
            <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.authors}}</p>
            <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.venue}} | {{post.year}}</p> 
          {% endif %}

          {% if post.type == "post" %}
          <p class="card-text" style="font-size: 10px; margin: 5px;">{{ post.postdate }}</p>
          <p class="card-text" style="font-size: 10px; margin: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla quasi eos temporibus vero? Quis, ratione. Maxime odio expedita sed nesciunt, alias eveniet consequatur voluptatum mollitia aliquam quasi sit debitis?</p>
          {% endif %}

          {% if post.type == "project" %}
          <p class="card-text" style="font-size: 10px; margin: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla quasi eos temporibus vero? Quis, ratione. Maxime odio expedita sed nesciunt, alias eveniet consequatur voluptatum mollitia aliquam quasi sit debitis?</p>
          {% endif %}
        </div>
  {% endfor %}
    
</div>          <!-- POST COLLECTION -->
        <div class="grid post-collection" data-masonry='{"columnWidth": 240, "itemSelector": ".card-feed"}'>

            <div class="card-feed-sizer"></div>
            <div class="card-feed-gutter-sizer"></div>

            {% assign posts = site.feed | sort: "postdate" reverse%}
            {% for post in posts reversed %}
            <div class="grid-item card card-feed {{ post.type }} {{ post.context }}" style="padding: 0px;">
                {% if post.type == "pub" %}
                <a href="{{ post.paperurl}}">
                  <h5 class="card-title stretched-link" style="font-size: 12px; margin: 5px;">{{post.title}}</h5>
              </a>
                <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.authors}}</p>
                <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.venue}} | {{post.year}}</p>
                {% endif %}

                {% if post.type == "post" %}
                <p class="card-text" style="font-size: 10px; margin: 5px;">{{ post.postdate }}</p>
                <p class="card-text" style="font-size: 10px; margin: 5px;">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Commodi nulla quasi eos temporibus vero? Quis, ratione. Maxime odio expedita sed
                    nesciunt, alias eveniet consequatur voluptatum mollitia aliquam quasi sit debitis?</p>
                {% endif %}

                {% if post.type == "project" %}
                <p class="card-text" style="font-size: 10px; margin: 5px;">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Commodi nulla quasi eos temporibus vero? Quis, ratione. Maxime odio expedita sed
                    nesciunt, alias eveniet consequatur voluptatum mollitia aliquam quasi sit debitis?</p>
                {% endif %}
            </div>
            {% endfor %}

        </div>



<script  type="text/javascript">
  // external js: isotope.pkgd.js

// init Isotope
var $grid = $('.grid').isotope({
itemSelector: '.card-feed'
});

// store filter for each group
var filters = [];

// change is-checked class on buttons
$('.filters').on( 'click', '.btn', function( event ) {
var $target = $( event.currentTarget );
$target.toggleClass('is-checked');
var isChecked = $target.hasClass('is-checked');
var filter = $target.attr('data-filter');
if ( isChecked ) {
  addFilter( filter );
} else {
  removeFilter( filter );
}
// filter isotope
// group filters together, inclusive
$grid.isotope({ 
  filter: filters.join(','), 
  masonry: {
  columnWidth: 240,
  },
  });
});

function addFilter( filter ) {
if ( filters.indexOf( filter ) == -1 ) {
  filters.push( filter );
}
}

function removeFilter( filter ) {
var index = filters.indexOf( filter);
if ( index != -1 ) {
  filters.splice( index, 1 );
}
}

</script>