<div class="menu ui-group">
  <!--
  <div class="button-group js-radio-button-group" data-filter-group="context">
    <a class="btn button" data-filter=".professional">professional</a>
    <a class="btn button" data-filter=".personal">personal</a>
  </div>
-->

  <div class="filter-button-group">
    <a class="btn button" data-filter=".pub">professional</a>
    <a class="btn button" data-filter=".post">personal</a>
    <a class="btn button" data-filter=".pub">publications</a>
    <a class="btn button" data-filter=".post">posts</a>
    <a class="btn button" data-filter=".project">projects</a>
    <a class="btn button" data-filter=".recipe">recipes</a>
  </div>
</div>