<div class="site-section-wrapper">
    <div class="site-section">
        <div class="site-section-header">
            <h1>Other</h1>
        </div>

        <a href="{{site.url}}/pages/recipes/">
        <div class="site-section-item section-item-major">
            <h2>Recipes</h2>
            <h4></h4>
        </div>
        </a>

        <a href="{{site.url}}/pages/reading-list/">
            <div class="site-section-item section-item-major">
                <h2>Reading List</h2>
                <h4></h4>
            </div>
        </a>

        
    </div>
</div>