<div class="row" data-masonry='{"percentPosition": true;}'>
  {% for post in site.publications reversed %} 
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card paperbox" style="padding: 0px;">
          <!--IMAGE ON CARD {% if post.image %}<img src="{{ site.baseurl }}/{{ post.image }}" class="card-img-top" style="object-fit: cover; max-height: 50px;">{% endif %} -->
          <a href="{{ post.paperurl }}"><h5 class="card-title" style="font-size: 12px; margin: 5px;">{{post.title}}</h5></a>
          <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.authors}}</p>
          <p class="card-text" style="font-size: 10px; margin: 5px;">{{post.venue}} | {{post.year}}</p>
            <div class="card-footer" style="padding: 0px; margin: 5px; vertical-align: middle;">
              {% if post.paperurl %}<a href="{{ post.paperurl }}" class="card-link" style="padding: 0px; margin: 0px; margin-right: 3px; vertical-align: middle;"><i class="svg-icon doc" alt="Paper" title="Paper"></i></a>{% endif %}
              {% if post.codeurl %}<a href="{{ post.codeurl }}" class="card-link" style="padding: 0px; margin: 0px; margin-right: 3px; vertical-align: middle;"><i class="svg-icon code" alt="Code" title="Code"></i></a>{% endif %}
              {% if post.dataurl %}<a href="{{ post.dataurl }}" class="card-link" style="padding: 0px; margin: 0px; margin-right: 3px; vertical-align: middle;"><i class="svg-icon data" alt="Data" title="Data"></i></a>{% endif %}
              {% if post.doi %}
              <span class="__dimensions_badge_embed__" style="float: right; display:inline-block; vertical-align: middle; margin: 0px;; padding: 0px;" data-doi="{{ post.doi }}" data-legend="never" data-style="small_rectangle"></span>
              <!-- <span class='altmetric-embed' data-badge-type='bar' style="display:inline-block; vertical-align: middle; margin: 0px; padding: 0px;" data-doi="{{ post.doi }}"></span> --> 
              {% endif %}
            </div>
        </div>
      </div>
  {% endfor %}
</div>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  
