<div class="row">
  {% for post in site.publications reversed %} 
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card paperbox">
          <h5 class="card-title" style="font-size: 12px; margin-bottom: 5px;">{{post.title}}</h5>
          <p class="card-text" style="font-size: 10px;">{{post.authors}}</p>
          <p class="card-text">{{post.venue}} | {{post.year}}</p>
            <div class="card-footer">
              <a href="#" class="card-link">Paper</a>
              <a href="#" class="card-link">Code</a>
              <a href="#" class="card-link">Data</a>
              <a href="#" class="card-link">Cite</a>
            </div>
        </div>
      </div>
  {% endfor %}
</div>
