<style>
  .cvlogo {
    display: inline-block;
    width: "5%";
    vertical-align: middle;
  }
  .cvinfo {
    display: inline-block;
    width: "10%";
    vertical-align: middle;
  }
</style>

<div class="cvlogo"></div><i class="svg-icon location"></i></div>
<div class="cvinfo">Houston, TX</div> <br>

<div class="cvlogo"><a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></div>
<div class="cvinfo">arlynch1001@gmail.com</a></div> <br>

<div class="cvlogo"><a href="https://orcid.org/0000-0002-0238-682X"><i class="svg-icon orcid"></i></div>
<div class="cvinfo">0000-0002-0238-682X</a></div> <br>

<div class="cvlogo"><a href="www.linkedin.com/in/andrewrlynch"><i class="svg-icon linkedin"></i></a><a href="https://github.com/andrewrlynch"><i class="svg-icon github"></i></a></div>
<div class="cvinfo">andrewrlynch</div>
