<style>
  .cvlogo {
    display: inline-block;
    width: "5%";
    vertical-align: middle;
  }
</style>

<div class="cvlogo"><i class="svg-icon location" style ="width:10px;height:15px;background-size:10px"></i></div> Houston, TX <br>

<div class="cvlogo"><a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email" style ="width:10px;height:10px;background-size:10px"></i></div> arlynch1001@gmail.com</a> <br>

<div class="cvlogo"><a href="https://orcid.org/0000-0002-0238-682X"><i class="svg-icon orcid" style ="width:10px;height:10px;background-size:10px"></i></div> 0000-0002-0238-682X</a> <br>

<div class="cvlogo"><a href="www.linkedin.com/in/andrewrlynch"><i class="svg-icon linkedin" style ="width:10px;height:10px;background-size:10px"></i></a><a href="https://github.com/andrewrlynch"><i class="svg-icon github" style="width:10px;height:10px;background-size:10px"></i></a></div> andrewrlynch
