---
layout: default
title: Papers
permalink: /papers/
published: true
---

{% assign sorted_publications = "" %}

{% for publication in site.data.pubs %}
    {% assign date_parts = publication.issued['date-parts'][0] %}
    {% assign year = date_parts[0] %}
    {% assign month = date_parts[1] %}
    {% assign day = date_parts[2] %}
    {% assign full_date = year | append: "-" | append: month | append: "-" | append: day %}

    {% capture publication_entry %}
    {{ full_date }}||{{ publication.URL }}||{{ publication.title }}||{{ publication['container-title'] }}||{% for author in publication.author %}{{ author.given }} {{ author.family }}{% if forloop.last == false %}...{% endif %}{% endfor %}
    {% endcapture %}

    {% assign sorted_publications = sorted_publications | append: publication_entry | append: ";;" %}
{% endfor %}

{% assign sorted_publications = sorted_publications | split: ";;" | sort | reverse %}

{% for entry in sorted_publications %}
    {% assign parts = entry | split: "||" %}
    {% assign full_date = parts[0] %}
    {% assign url = parts[1] %}
    {% assign title = parts[2] %}
    {% assign container_title = parts[3] %}
    {% assign authors = parts[4] | split: "..." %}

    <a href="{{ url }}"><div class="site-section-item">
        <strong>{{ title }}</strong><br>
        <small>
        {% for author in authors %}{% if forloop.first %}{% elsif forloop.last %}, and {% else %}, {%endif %}{% if author contains "Andrew" and author contains "Lynch" %}<u>{{ author }}</u>{% else %}{{ author }}{% endif %}{% endfor %}. 
        <strong>{{ container_title }}</strong>.
        {{ full_date | date: "%d %b, %Y" }}.
        </small>
    </a></div>
{% endfor %}