//Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300&display=swap');

//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkOrange: #FF8C00;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$openSans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Other breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
