---
layout: default
title: Andrew Lynch
---
{{ content }}
<div class="site-section-container">
    <span class="grid-width-7 site-section-head">
        <h3>Recent Posts</h3>
    </span>
    <span style="text-align: right;"><a href="{{site.baseurl}}/posts">see all</a></span>
    <div class="grid-width-full">
        {% for post in site.posts limit: 3 %}
        <div class="site-section-item">
        <a href="{{post.url}}">
                <strong>{{post.title}}</strong><br>
                <small>Posted: {{post.date | date: "%d %b, %Y"}}</small>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="site-section-container">
    <span class="grid-width-7 site-section-head">
        <h3>Recent Papers</h3>
    </span>
    <span style="text-align: right;"><a href="{{site.baseurl}}/papers">see all</a></span>
    <div class="grid-width-full">

        {% assign sorted_publications = "" %}

        {% for publication in site.data.pubs %}
        {% assign date_parts = publication.issued['date-parts'][0] %}
        {% assign year = date_parts[0] %}
        {% assign month = date_parts[1] %}
        {% assign day = date_parts[2] %}
        {% assign full_date = year | append: "-" | append: month | append: "-" | append: day %}

        {% capture publication_entry %}
        {{ full_date }}||{{ publication.URL }}||{{ publication.title }}||{{ publication['container-title'] }}||{% for
        author in publication.author %}{{ author.given }} {{ author.family }}{% if forloop.last == false %}...{% endif
        %}{% endfor %}
        {% endcapture %}

        {% assign sorted_publications = sorted_publications | append: publication_entry | append: ";;" %}
        {% endfor %}

        {% assign sorted_publications = sorted_publications | split: ";;" | sort | reverse %}

        {% for entry in sorted_publications limit: 3 %}
        {% assign parts = entry | split: "||" %}
        {% assign full_date = parts[0] %}
        {% assign url = parts[1] %}
        {% assign title = parts[2] %}
        {% assign container_title = parts[3] %}
        {% assign authors = parts[4] | split: "..." %}

        <div class="site-section-item">
        <a href="{{ url }}">
                <strong>{{ title }}</strong><br>
                <small>{{ authors[0] | split: " "| last }} et al. {{ container_title }}. {{ full_date | date: "%Y"
                    }}.</small>
                <!-- {% for author in authors %}{% if forloop.first %}{% elsif forloop.last %}, and {% else %}, {%endif %}{% if author contains "Andrew" and author contains "Lynch" %}<u>{{ author }}</u>{% else %}{{ author }}.{% endif %}{% endfor %} -->
            </a>
        </div>
        {% endfor %}

    </div>
</div>

<div class="site-section-container">
    <span class="grid-width-7 site-section-head">
        <h3>Projects</h3>
    </span>
    <span style="text-align: right;"><a href="{{site.baseurl}}/projects">see all</a></span>
    <div class="grid-width-full site-section-container">
        {% for project in site.projects limit: 3 %}
        <a href="{{project.url}}" class="site-section-item grid-width-half">
            <strong>{{project.title}}</strong>-{{project.description}}<br>
            <small>Posted: {{project.date | date: "%d %b, %Y"}}</small>
        </a>
        {% endfor %}
    </div>
</div>